# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\QRATE\Project_firmware\UPD-client-server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
../UDP_server/cmake-build-debug
../UDP_client/target
